[Unit]
Description=linux-voice-assistant
After=pipewire.service
Wants=pipewire.service

[Service]
Type=simple
WorkingDirectory=/home/assistant/voice-assistant/vendor/linux-voice-assistant
Environment=PATH=/home/assistant/.venv/bin:/usr/bin:/bin
Environment=PREFERENCES_FILE=/home/assistant/preferences.json
Environment=CLIENT_NAME=%H
ExecStartPre=/home/assistant/voice-assistant/linux-voice-assistant-pre.sh
ExecStart=/home/assistant/voice-assistant/vendor/linux-voice-assistant/docker-entrypoint.sh
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
